<html>

<head>
    <title>Sungrow Power</title>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/png" href="/img/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script type="text/javascript" src="/vendor/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/js/popper.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="/vendor/daterangepicker/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css" />
</head>

<body>
    <!-- Navbar -->

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg" style="min-height: 96px;">
            <div class="navbar-brand">
                <a class="navbar-item logo" href="/">
                    <img src="/img/sungrow-logo.svg" width="176" alt="Home">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
                aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <img src="/img/icons/menu-mobile.svg" />
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">

                <ul class="nav navbar-nav ml-auto ">
                    <li class="nav-item"><a class="nav-link" href="https://sungrowpower.com/index.php/en/node/7" target="_blank">UTILITY</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://sungrowpower.com/index.php/en/commercial" target="_blank">COMMERCIAL</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://sungrowpower.com/index.php/en/residential" target="_blank">RESIDENTIAL</a></li>
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="https://sungrowpower.com/index.php/en/products" target="_blank"
                            class="navbar-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">VIEW
                            PRODUCTS</a>
                        <ul class="dropdown-menu" id="productMenu">
                            <li><a class="nav-link" href="https://sungrowpower.com/en/products/inverter" target="_blank">PV INVERTER</a></li>
                            <li><a class="nav-link" href="https://sungrowpower.com/en/products/storage-system" target="_blank">STORAGE SYSTEM</a></li>
                            <li><a class="nav-link" href="https://sungrowpower.com/en/products/floating-system" target="_blank">FLOATING SYSTEM</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">DIVISIONS</a>
                        <ul class="dropdown-menu" id="divisionMenu">
                            <li><a class="nav-link" href="https://sungrowpower.com/index.php/en/division/photovoltaics" target="_blank">PHOTO-VOLTAICS</a></li>
                            <li><a class="nav-link" href="https://sungrowpower.com/index.php/en/division/storage" target="_blank">STORAGE</a></li>
                            <li><a class="nav-link" href="https://sungrowpower.com/index.php/en/division/floating" target="_blank">FLOATING</a></li>
                            <li><a class="nav-link" href="https://sungrowpower.com/index.php/en/division/pv-power-plant" target="_blank">PV POWER PLANT</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown"><a href="service.html" class="nav-link dropdown-toggle"
                            data-toggle="dropdown" aria-expanded="false">SERVICE<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a class="nav-link" href="/checkLine">WARRANTY REGISTRATION</a></li>
                            <li><a class="nav-link" href="https://sunportal0profb3323b80.cn1.hana.ondemand.com/sun-portal/v/index.html#/warranty/claim/form" target="_blank">WARRANTY CLAIM</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>


    <div class="ajax-loader">
        <img src="/img/icons/ajax-loader.gif" class="img-responsive" />
    </div>



    <!-- Navbar End -->
    {{{body}}}


    <!-- Footer -->
    <footer class="footer section has-background-light">

        <!-- Footer Links -->
        <div class="container-fluid">
            <div class="row ">
                <div class="col-lg-3 col-md-3 col-sm-12 p-b-80 m-l-auto m-r-auto">
                    <a href="/"><img src="/img/sungrow-logo.svg" width="176" alt="Home" /></a>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <nav role="navigation" aria-labelledby="block-footer-menu" id="block-footer">
                        <ul data-region="footer">
                            <li> <a href="https://sungrowpower.com/index.php/en/company" target="_blank">About
                                    Sungrow</a>
                            </li>
                            <li> <a href="https://sungrowpower.com/index.php/en/products" target="_blank">Products A - Z</a>
                            </li>
                            <li> <a href="https://sungrowpower.com/index.php/en/news" target="_blank">Sungrow
                                    News</a>
                            </li>
                            <li> <a href="https://sungrowpower.com/index.php/en/career" target="_blank">Career</a>
                            </li>
                            <li> <a href="https://sungrowpower.com/index.php/en/mission" target="_blank">Our
                                    Mission</a>
                            </li>
                            <li> <a href="https://sungrowpower.com/index.php/en/how-to-buy" target="_blank">Distributors</a>
                            </li>
                            <li> <a href="https://sungrowpower.com/index.php/en/events" target="_blank">Events</a>
                            </li>
                            <li> <a href="https://sungrowpower.com/index.php/en/social-responsibility" target="_blank">Social Responsibility</a>
                            </li>
                            <li> <a href="/">Service</a>
                            </li>
                            <li> <a href="https://sungrowpower.com/index.php/en/downloads" target="_blank">Downloads</a>
                            </li>
                            <li> <a href="https://sungrowpower.com/index.php/en/webinars" target="_blank">Webinars</a>
                            </li>
                        </ul>

                    </nav>
                </div>
            </div>
        </div>
    </footer>
    <footer class="bottom-line section has-background-primary has-text-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-6 col-sm-12">
                    © 2020 SUNGROW. All Rights Reserved.
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <nav role="navigation" aria-labelledby="block-legalmenu-menu" id="block-legalmenu">
                        <ul data-region="legal" class="menu-list legal-menu-menu">
                            <li class="menu-item"> <a href="https://sungrowpower.com/en/contact" target="_blank">Contact us</a>
                            </li>
                            <li class="menu-item"> <a href="https://sungrowpower.com/en/legal-notice" target="_blank">Legal Notice </a>
                            </li>
                            <li class="menu-item"> <a href="https://sungrowpower.com/en/privacy-policy" target="_blank">Privacy Policy</a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->
</body>

</html>