<div class="row mx-5 my-5">
  <div class="col">
    <div class="card text-white mb-3">
      <div class="card-header"
        style="background-color: indianred;font-weight:600;text-transform:uppercase;font-size:24px;">Warranty Requests
      </div>
      <div class="card-body">
        <p class="card-title"
          style="color: indianred;font-size:150px;text-align:center;margin:0;font-weight:600;line-height:100px;">{{dashboard.warranty}}</p>
        <a href="/admin/getPendingRequest">
          <button class="login100-form-btn m-t-17" style="background-color: indianred;">
            Approve Requests
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-white mb-3">
      <div class="card-header"
        style="background-color:lightseagreen;font-weight:600;text-transform:uppercase;font-size:24px;">Moderator
        Requests
      </div>
      <div class="card-body">
        <p class="card-title"
          style="color: lightseagreen;font-size:150px;text-align:center;margin:0;font-weight:600;line-height:100px;">{{dashboard.moderator}}
        </p>
        <a href="/admin/moderatorApproval">
          <button class="login100-form-btn m-t-17" style="background-color: lightseagreen;">
            Approve Requests
          </button>
        </a>
      </div>
    </div>
  </div>
</div>