<!-- <button onclick="window.location.href = '/checkLine';">click me</button> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 column-flex">
            <div class="main">
                <div class="background" style="background:#B3E6FF;"></div>
                <div class="content">

                    <h1 class="heading-1">
                        We're ALWAYS <em>happy to hear from you.</em>
                    </h1>
                    <p
                        style="margin-top:2rem;font-family:Montserrat,sans-serif;font-size:18px;font-weight:normal;color:#303030;line-height:28px;">
                        Some companies may consider in-depth service to be nothing but a cost factor. We like to think
                        of it as a welcome chance to reconnect and hopefully build a long-lasting and mutually
                        beneficial
                        relationship.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 img-col order-first order-lg-last">
            <picture class="main-img">
                <img src="/img/service.jpg" alt="sungrow - service you can count on">
            </picture>
        </div>
    </div>

</div>
<div class="container m-t-35">
    <div class="row p-t-30">
        <div class="col-12 p-b-20">
            <h2 class="heading-3">
                Real service is a good relationship.
            </h2>
        </div>
        <div class="col-12 text-column">
            <p>Real service begins before a customer even makes a purchase and doesn't end after delivery. To help you
                get your project off the ground we offer project consultancy, system design, and product experience
                service that includes system training, product installation and commissioning.</p>
            <p>Once your installation is up and running, our experienced service engineers are available in service
                stations worldwide. To keep downtimes to a minimum, we built regional spare part warehouses fully
                stocked with original parts for fast delivery.</p>
            <p>We will train you in all aspects of operation, maintenance and project management required for your
                installation. As we said, we'll keep in touch.</p>

        </div>
    </div>
    <div class="row p-t-60">
        <div class="col-6 text-center">
            <a href="/checkLine" class="img-box-link">
                <svg height="60" width="60" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g id="outline"><path d="m488 56h-464a8.00008 8.00008 0 0 0 -8 8v384a8.00008 8.00008 0 0 0 8 8h464a8.00008 8.00008 0 0 0 8-8v-384a8.00008 8.00008 0 0 0 -8-8zm-8 384h-448v-368h448z"/><path d="m56 128v256a8.00008 8.00008 0 0 0 8 8 16.01833 16.01833 0 0 1 16 16 8.00008 8.00008 0 0 0 8 8h336a8.00008 8.00008 0 0 0 8-8 16.01833 16.01833 0 0 1 16-16 8.00008 8.00008 0 0 0 8-8v-256a8.00008 8.00008 0 0 0 -8-8 16.01833 16.01833 0 0 1 -16-16 8.00008 8.00008 0 0 0 -8-8h-336a8.00008 8.00008 0 0 0 -8 8 16.01833 16.01833 0 0 1 -16 16 8.00008 8.00008 0 0 0 -8 8zm16 6.9873a32.12018 32.12018 0 0 0 22.98779-22.9873h322.02442a32.12018 32.12018 0 0 0 22.98779 22.9873v242.0254a32.12018 32.12018 0 0 0 -22.98779 22.9873h-322.02442a32.12018 32.12018 0 0 0 -22.98779-22.9873z"/><circle cx="56" cy="96" r="8"/><circle cx="456" cy="96" r="8"/><circle cx="56" cy="416" r="8"/><circle cx="456" cy="416" r="8"/><path d="m120.94678 211.77441a7.99966 7.99966 0 0 0 7.05322 4.22559h82.08325a55.92392 55.92392 0 0 0 91.8335 0h82.08325a8.00016 8.00016 0 0 0 6.65625-12.4375l-13.0415-19.5625 13.0415-19.5625a8.00016 8.00016 0 0 0 -6.65625-12.4375h-82.08325a55.92392 55.92392 0 0 0 -91.8335 0h-82.08325a8.00016 8.00016 0 0 0 -6.65625 12.4375l13.0415 19.5625-13.0415 19.5625a7.99778 7.99778 0 0 0 -.39697 8.21191zm248.10498-43.77441-7.708 11.5625a7.99953 7.99953 0 0 0 0 8.875l7.708 11.5625h-59.39313a55.83953 55.83953 0 0 0 0-32zm-113.05176-24a40 40 0 1 1 -40 40 40.04552 40.04552 0 0 1 40-40zm-105.34375 35.5625-7.70801-11.5625h59.39313a55.83953 55.83953 0 0 0 0 32h-59.39313l7.708-11.5625a7.99953 7.99953 0 0 0 .00001-8.875z"/><path d="m264 272h80v16h-80z"/><path d="m208 272h40v16h-40z"/><path d="m168 272h24v16h-24z"/><path d="m88 328h32v16h-32z"/><path d="m136 328h64v16h-64z"/><path d="m120 360h48v16h-48z"/><path d="m392 328h32v16h-32z"/><path d="m312 328h64v16h-64z"/><path d="m344 360h48v16h-48z"/></g></svg>
                <h2 style="font-size:20px; font-weight:400; font-family:Montserrat,sans-serif; line-height:24px;padding-top:40px; ">
                    Warranty Registration</h2>
            </a>
        </div>
        <div class="col-6 text-center">
            <a href="https://sunportal0profb3323b80.cn1.hana.ondemand.com/sun-portal/v/index.html#/warranty/claim/form" target="_blank" class="img-box-link">
                <svg width="60" height="60" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 497.208 497.208"
                    style="enable-background:new 0 0 497.208 497.208;" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M466.292,240c-33.44,0-64.48-16.608-83.032-44.44l-6.656-9.984l-6.656,9.984C351.396,223.392,320.356,240,286.916,240
			h-30.312v128.288c0,31.008,13.96,60.152,37.288,79.712H128.604v-32h104V272h-168v64h-48V16h352v144h16V0h-384v347.312L117.292,464
			h201.192l58.12,33.208l67.6-38.624c32.32-18.464,52.4-53.072,52.4-90.296V240H466.292z M112.604,436.688L27.916,352h84.688
			V436.688z M80.604,336v-48h136v112h-88v-64H80.604z M480.604,368.288c0,31.504-16.992,60.776-44.336,76.408l-59.664,34.096
			l-59.664-34.096c-27.344-15.632-44.336-44.904-44.336-76.408V256h14.312c35.04,0,67.808-15.72,89.688-42.544
			C398.484,240.28,431.252,256,466.292,256h14.312V368.288z" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <path d="M448.604,320v48.288c0,20.048-10.816,38.68-28.216,48.624l7.936,13.888c22.376-12.784,36.28-36.736,36.28-62.512V320
			H448.604z" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <path d="M48.604,32v48h288V32H48.604z M320.604,64h-256V48h256V64z" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <polygon
                                points="442.948,274.344 336.604,380.688 310.26,354.344 298.948,365.656 336.604,403.312 454.26,285.656 		" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <rect x="96.604" y="304" width="104" height="16" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <rect x="144.604" y="336" width="56" height="16" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <rect x="144.604" y="368" width="56" height="16" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <rect x="48.604" y="112" width="256" height="16" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <rect x="48.604" y="144" width="256" height="16" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <rect x="48.604" y="176" width="256" height="16" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <rect x="48.604" y="208" width="152" height="16" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <rect x="48.604" y="240" width="152" height="16" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <rect x="320.604" y="112" width="16" height="16" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <rect x="320.604" y="144" width="16" height="16" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <rect x="320.604" y="176" width="16" height="16" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <rect x="216.604" y="208" width="16" height="16" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <rect x="216.604" y="240" width="16" height="16" />
                        </g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                </svg>

                <h2 style="font-size:20px; font-weight:400; font-family:Montserrat,sans-serif; line-height:24px;padding-top:40px; ">
                    Warranty Claim</h2>
            </a>
        </div>
    </div>
</div>